.header{
   background-color: var(--color-bg-dark);
   border-top-left-radius: 8px;
   border-top-right-radius: 8px;
   display:flex;
   justify-content: space-between;
   align-items: center;
   height: 50px;
   padding: 0 0.5rem;
}
.settingBtn{
    width:20px;
    height: 20px;
}
.todoType{
    margin-left: auto;
    display: flex;
    text-align: center;
    justify-content: space-between;  
}
.todoType button{
    font-size: 1.2rem;
    cursor: pointer;
}
.on{
  border-bottom: 2px solid var(--color-accent);
}
