.container{
    background:#fff;
    width: 100%;
    height: 100vh;
}
.todo-box {
    width: 400px;
    height: 400px;
    position: absolute;
    left: 50%;
    top: 50%;
    background-color: #f7f6f6;
    transform: translate(-50%, -50%);
    border-radius: 9px;
    /* border: 1px solid #6e6c6c; */
}
.outContainer{
    width: 100%;
    height: 100vh;
    background-color: #fff;
}
.outContainer.dark{
     background-color: #424242;
}